<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@200&family=Merriweather:wght@300&display=swap" rel="stylesheet"> 

    <title>Test HTML</title>
</head>
<body>
<h1>Otro titulo</h1>
    <article class="container00">
        <h2>Un titulo h2</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit sint laudantium nihil qui. Consequuntur
         sed possimus quas dicta in nostrum praesentium at magnam sint nemo, ex laborum minima, facilis ea.
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit sint laudantium nihil qui. Consequuntur
         sed possimus quas dicta in nostrum praesentium at magnam sint nemo, ex laborum minima, facilis ea.
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit sint laudantium nihil qui. Consequuntur
         sed possimus quas dicta in nostrum praesentium at magnam sint nemo, ex laborum minima, facilis ea.
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit sint laudantium nihil qui. Consequuntur
         sed possimus quas dicta in nostrum praesentium at magnam sint nemo, ex laborum minima, facilis ea.
         <article class="container01">
            <h2>Un h2:</h2>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam officiis qui possimus rem, quasi 
            enim quia, id error consectetur accusamus ad aliquid dolor labore dicta, eveniet ea natus perferendis
             maxime!
         </article>
    </p>
    </article>
    <article class="container01">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit sint laudantium nihil qui. Consequuntur
             sed possimus quas dicta in nostrum praesentium at magnam sint nemo, ex laborum minima, facilis ea.
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit sint laudantium nihil qui. Consequuntur
             sed possimus quas dicta in nostrum praesentium at magnam sint nemo, ex laborum minima, facilis ea.
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit sint laudantium nihil qui. Consequuntur
             sed possimus quas dicta in nostrum praesentium at magnam sint nemo, ex laborum minima, facilis ea.
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit sint laudantium nihil qui. Consequuntur
             sed possimus quas dicta in nostrum praesentium at magnam sint nemo, ex laborum minima, facilis ea.
             <article class="container01">
                <h2>Un h2:</h2>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam officiis qui possimus rem, quasi 
                enim quia, id error consectetur accusamus ad aliquid dolor labore dicta, eveniet ea natus perferendis
                 maxime!
             </article>
        </p>
    </article>
</body>
</html>