<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" >
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.com/libraries/font-awesome">
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <a href="/"><img class="logo" src="/img/logo-mercado-liebre.svg" /></a>

            <form class="search-bar" action="#">
                <input class="search-input" type="text" placeholder="    Búsca productos" name="search">
                <button class="search-button" type="submit"><i class="fa fa-search"></i></button>
              </form>

            <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</h2>
        </div>
        
        <input id="toggler" class="toggler" type="checkbox">
        <label for="toggler" class="burger-menu">
            <span><i class="fas fa-bars"></i></span></label>

        <nav class="main-navbar">
            <div>
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                <li><a href ="#">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="/register">creá tu cuenta <i class="far fa-address-card"></i></a></li>
            </ul>
            </div>
        </nav>


        <div class="login-container">
            <form action="/">
            <input type="text" placeholder="Usario" name="username">
            <input type="text" placeholder="Contraseña" name="psw">
            <button type="submit">Login</button>
            </form>
        </div>
        
           
    </header>

    <main class="main">
        
        <div class="main-banner"><img class="main-banner-img"src="/img/img-home-banner.jpg" alt=""></div>
        <h2 class="main-titulos">Basado en tu última visita</h2>
        <section class="section-articulos">
            
            <div class="articulos">
            <div><img src="/img/img-cafetera-moulinex.jpg" alt=""></div>
            
            <div class="description-container">
            <div class="shipping-icon"><i class="fas fa-shipping-fast"></i></div>
            <div class="precio">$6.770</div>
            <div class="descuento">40% OFF</div>
            <div class="titulo">Cafetera Moulinex</div>
            </div>
            </div>

            <div class="articulos">
            <div><img src="/img/img-macbook-pro-2019.jpg" alt="">
                <span class="shipping-icon"><i class="fas fa-shipping-fast"></i></span></div>
            
            <div class="description-container">
            <div class="precio">$230.000</div>
            <div class="descuento">20% off</div>
            <div class="titulo">MacBook Pro 2019</div>
            </div>
            </div>

            <div class="articulos">
            <div><img src="/img/img-samsung-galaxy-s10.jpg" alt=""></div>
            <div class="shipping-icon"><i class="fas fa-shipping-fast"></i></div>
            <div class="description-container">
            <div class="precio">$70.500</div>
            <div class="descuento">10% off</div>
            <div class="titulo">Samsung Galaxy S10</div>
            </div>
            </div>

            <div class="articulos">
            <div><img src="/img/img-tv-samsung-smart.jpg" alt=""></div>
            <div class="shipping-icon"><i class="fas fa-shipping-fast"></i></div>
            <div class="description-container">
            <div class="precio">$23.200</div>
            <div class="descuento">5% off</div>
            <div class="titulo">SmartTv Samsung 43"</div>
            </div>
            </div>
        </section>

        <h2 class="main-titulos">Ofertas</h2>
        <section class="section-articulos">

            <div class="articulos">
            <div><img src="/img/img-cafetera-moulinex.jpg" alt=""></div>
            <div class="description-container">
            <div class="shipping-icon"><i class="fas fa-shipping-fast"></i></div>
            <div class="precio">$6.770</div>
            <div class="descuento">40% OFF</div>
            <div class="titulo">Cafetera Moulinex</div>
            </div>
            </div>

            <div class="articulos">
            <div><img src="/img/img-macbook-pro-2019.jpg" alt=""></div>
            <div class="description-container">
            <div class="shipping-icon"><i class="fas fa-shipping-fast"></i></div>
            <div class="precio">$230.000</div>
            <div class="descuento">20% off</div>
            <div class="titulo">MacBook Pro 2019</div>
            </div>
            </div>

            <div class="articulos">
            <div><img src="/img/img-samsung-galaxy-s10.jpg" alt=""></div>
            <div class="description-container">
            <div class="shipping-icon"><i class="fas fa-shipping-fast"></i></div>
            <div class="precio">$70.500</div>
            <div class="descuento">10% off</div>
            <div class="titulo">Samsung Galaxy S10</div>
            </div>
            </div>

            <div class="articulos">
            <div><img src="/img/img-tv-samsung-smart.jpg" alt=""></div>
            <div class="description-container">
            <div class="shipping-icon"><i class="fas fa-shipping-fast"></i></div>
            <div class="precio">$23.200</div>
            <div class="descuento">5% off</div>
            <div class="titulo">SmartTv Samsung 43"</div>
            </div>
            </div>

        </section>

    </main>

    <footer class="footer">
        <div class="footer-container">
            <section class="footer-tarjeta">
                <div class="footer-icon"><i class="far fa-credit-card"></i></div>
                <p class="footer-subtitulo">Pagá con tarjeta o en efectivo</p>
                <p class="footer-descripcion">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo 
                    enpuntos de pago. ¡Y siempre es seguro!</p>
            </section>

            <section class="footer-envio">
                <div class="footer-icon"><i class="fas fa-gift"></i></div>
                <p class="footer-subtitulo">Envío gratis desde $ 2.500</p>
                <p class="footer-descripcion">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </section> 

            <section class="footer-seguridad">
                <div class="footer-icon"><i class="fas fa-user-shield"></i></div>
                <p class="footer-subtitulo">Seguridad, de principio a fin</p>
                <p class="footer-descripcion">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </section>
            
        </div>
        <div class="text-copyright">Copyright &copy; 1999-2020 MercadoLiebre S.R.L.</div>
    </footer>

</body>
</html>
