<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario registro</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/register.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" >
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.com/libraries/font-awesome">
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <a href="/"><img class="logo" src="/img/logo-mercado-liebre.svg" /></a>

            <form class="search-bar" action="#">
                <input class="search-input" type="text" placeholder="    Búsca productos" name="search">
                <button class="search-button" type="submit"><i class="fa fa-search"></i></button>
              </form>

            <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</h2>
        </div>
        
        <input id="toggler" class="toggler" type="checkbox">
        <label for="toggler" class="burger-menu">
            <span><i class="fas fa-bars"></i></span></label>

        <nav class="main-navbar">
            <div>
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                <li><a href ="#">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">creá tu cuenta <i class="far fa-address-card"></i></a></li>
            </ul>
            </div>
        </nav>


        <div class="login-container">
            <form action="/">
            <input type="text" placeholder="Usario" name="username">
            <input type="text" placeholder="Contraseña" name="psw">
            <button type="submit">Login</button>
            </form>
        </div>
        
           
    </header>

    <main class="main">
        
        <form action="#" style="border:1px solid #ccc">
            <div class="container">
              <h1>Regístrate</h1>
              <p>Completa este formulario para crear tu cuenta.</p>

              <label for="usuario">Usuario:</label>
              <input type="text" id="usuario" placeholder="Ingrese su usuario" name="user" minlength="2" required> 

              <input type="radio" id="comprador" name="tipo-usuario" value="comrpador">
              <label for="coprador">Comprador</label>
              <input type="radio" id="vendedor" name="tipo-usuario" value=""vendedor>
              <label for="vendedor">Vendedor</label>

              <label for="nombre">Nombre:</label>
              <input type="text" id="nombre" placeholder="Ingrese su nombre" name="name" minlength="2" required> 

              <label for="apellido">Apellido:</label>
              <input type="text" id="apellido" placeholder="Ingrese su apellido" name="surname" minlength="2" required>

              <label for="nacimiento">Fecha de nacimiento</label>
              <input type="date" name="nacimiento" id="nacimiento">


              <label for="domicilio">Domicilio:</label>
              <input type="text" id="domicilio" placeholder="Ingresa tu domicilio" name="address" required>

              <ul>
                  <h3>Intereses</h3>
                  <li><input type="checkbox" name="electro" id="electro"><label for="electro">Electro</label> </li>
                  <li><input type="checkbox" name="indumentaria" id="indumentaria"><label for="indumentaria">Indumentaria</label></li>
                  <li><input type="checkbox" name="mercado" id="mercado"><label for="mercado"></label>Mercado</li>
                  <li><input type="checkbox" name="vehiculo" id="vehiculo"><label for="vehiculo">Vehículo</label></li>
              </ul>
          
              <label for="email">Email:</label>
              <input type="text" id="email" placeholder="Ingresa tu Email" name="email" required>
          
              <label for="psw">Contraseña:</label>
              <input type="password" id="psw" placeholder="Contraseña" name="psw" required>
          
              <label for="psw-repeat">Re-Contraseña:</label>
              <input type="password" id="psw-repeat" placeholder="Contraseña" name="psw-repeat" required>
              
             
              <p>Creando la cuenta tu aceptas nuestros <a href="#" style="color:dodgerblue">Términos y condiciones</a>.</p>
              <label>
                <input type="checkbox" name="condition" style="margin-bottom:15px" required> Acepto los términos
              </label>
          
              <div class="clearfix">
                <button type="reset" class="cancelbtn">Cancelar</button>
                <button type="submit" class="registerbtn" onclick="alert('Registro exitoso')">Registrar</button>
              </div>
            </div>
          </form>


    </main>

    <footer class="footer">
        <div class="footer-container">
            <section class="footer-tarjeta">
                <div class="footer-icon"><i class="far fa-credit-card"></i></div>
                <p><b> Pagá con tarjeta o en efectivo</b></p>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo 
                    enpuntos de pago. ¡Y siempre es seguro!</p  >
            </section>

            <section class="footer-envio">
                <div class="footer-icon"><i class="fas fa-gift"></i></div>
                <p><b>Envío gratis desde $ 2.500</b> </p>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </section> 

            <section class="footer-seguridad">
                <div class="footer-icon"><i class="fas fa-user-shield"></i></div>
                <p><b>Seguridad, de principio a fin</b> </p>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </section>
            
        </div>
        <div class="text-copyright">Copyright &copy; 1999-2020 MercadoLiebre S.R.L.</div>
    </footer>

</body>
</html>
