<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH | LIST</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="/css/navigation.css">
    <link rel="stylesheet" href="/css/list.css">
</head>
<body>
    <%- include ("../partials/navigation") %> 
    <section id="list-products">
        <% list.forEach(product => { %>
        <article>
            <% if (product.image) { %>
                <figure><img src="/uploads/products/<%= product.image%>" alt=""></figure>
            <% } else { %>
                <figure><img src="/images/default.jpg" alt=""></figure>
            <% } %>
            <section>
                <h2><%= product.name %></h2>
                <a href="/product/<%= product.id %>">show more</a>
            </section>
        </article>
        <% }) %>
    </section>
</body>
</html>