* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
   }

img{
    max-width: 100%;
}
body {
    background: #ebebeb;
}
/* Header */

.main-header {
    top: 0;
    padding: 3%;
    background-color: #EAC926;
    position: fixed;
    width: 100%;
    z-index: 100;

    
}
.logo {
    margin:2px;
    width: 110px;
}

.search-button {
    font-size: 14px;
    width: 30px;
    height: 30px;
    padding: 0px;
    border: none;
    background-color: #EAC926;
    color: white;
}
.search-input {
    text-align: center;
    height: 20px;
    width: 120px;
    color: rgb(31, 31, 31);
    background-color: rgba(0, 0, 0, 0.065);
    border: none;
    border-radius: 10px;
    font-size: 10px;
}
.header-frase-top{
    color: #03264C;
    font-size: 13px;
    font-weight: thin 100;
    margin: 5px;
    
}
.main-header-top-bar{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.toggler {
    display: none;
}
.main-navbar ul{
    list-style: none;
} 

.main-navbar div{
    position: fixed;
    top:0;
    left: 0px;
    height: 100vh;
    width: 46vw;
    background: #EAC926;
    left: -100%;
    transition:  all .5s;
    margin-top: 85px;
}
.main-navbar a {
    color: #03264C;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
}

.main-navbar :hover {
    color: whitesmoke;
    transition: ease-in .1s ;
}

.toggler:checked ~ .main-navbar div {
    left: 0;
}
.burger-menu {
    display: block;
    text-align: center;
    font-size: 17px;
    color: #ebebeb;
    text-shadow: 2px 2px 4px rgba(31,31,31,0.658);
}

/* MAIN */
.main {
    text-align: center;
    margin-top: 11vh;
    padding: auto;
    margin-bottom: 20px;
    background-color: #ebebeb;
}
.mySlides {display:none}

.main-banner {
    max-width: 100vw;
    position: relative;
}

.right-banner-button {
   position:absolute; 
   color:gray;
   right: 0;
   bottom: 50%;
   cursor: pointer;
}

.left-banner-button {
    position: absolute; 
    color:gray;
    left: 0;
    bottom: 50%;
    cursor: pointer;
 }


.main-titulos {
    font-size: 18px;
    color: dimgray;
    margin: 3.5%;

}

.main-banner {
    margin: 0;
    width:100vw;
    left: 0;
}

.articulos {
    display: flex;
    flex-direction: column;
    background: white;
    max-width: 90vw;
    box-shadow: 0px 0px 10px rgb(100,100,100);
    margin: 15px;
    padding: 5px;
    border-radius: 10px;
}
.articulo-img-carro img{
    width: 95%;
    margin-bottom: 15px;
}
.articulo-img-carro {
    margin: 0;
    width: 100%;
    left: 0;
    position: relative;
 
}
.description-product { 
    position: absolute;
    color: rgb(22, 22, 22);
    text-align: left;
    padding-left: 15%;
    width: 100%;
    bottom: 0;
    margin-bottom: 5px;
    border-top: solid 1px #ebebeb;
}

.shipping-icon {
    z-index: 10;
    position: absolute;
    background:white;
    border: solid 1px green;
    padding: 2%;
    border-radius: 100px;
    right: 5%;
    bottom: -1%;
    
}
.descuento, .shipping-icon{
    color:green
}
.shipping-icon , .description-product, .descuento, .precio {
    font-size: 12px;
}
.description-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around
}






/* Footer */
.footer {
    color: black;
    background:white;
    padding: 3.5%;
    margin: 0;
}
.footer-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    padding: auto; 
    margin: 0%;
}
.footer-icon {
    color: rgb(58, 58, 236);
    font-size: 28px;
}
.footer-subtitulo {
    padding: 7px 0;
    font-weight: 500;
}
.footer-descripcion {
    font-weight: 300;
    font-size: 15px;
}
.text-copyright {
    display: block;
    text-align: center;
    padding: 3%;
    font-size: 12px;
}
.footer-envio, .footer-seguridad, .footer-tarjeta {
    margin: 10px;
}




/* MEDIA QUERY */


@media  (min-width:565px) {
    .main{
        margin-top: 9vh;
    }
    .section-articulos{
        display: flex;
        flex-wrap: wrap;
    }
    .articulos {
        margin: auto;
        margin-top: 2%;
        margin-bottom: 2%;
        max-width: 42vw;

    }

}


@media (min-width: 800px) {
    .burger-menu {
        display: none;
    }
    .main-header {
        display: block;
        position: relative;
        height: 12vh;
    }
    .main-header-top-bar{
        display: flex;
        justify-content: space-between;
    }
    .search-input {
        width: 220px;
    }
    .header-frase-top {
        align-content: flex-end;
        text-align: left;
    }
    .main-navbar {
        position: relative;
        margin: 0;
    }

    .main-navbar a{
        font-size: 14px;
    }

    .main-navbar div{
        margin: 0;
        position: relative;
        height: fit-content;
        width: 100%;
        left:0;
    }

    .main-navbar-div{ 
        display: flex;
        justify-content: space-between;
    }
    .main-navbar-div ul a{
        padding-left: 8px;
    }
    
   
    .left-navbar {
        display: flex;
        position: absolute;
        left: 0;
        padding: 0;
    }
    .right-navbar {
        display: flex;
        position: absolute;
        right: 0;
        padding: 0;
    }
    
    /* main */
    .main{
        margin-top: -2vh;
    }
    .main-titulos{
        max-width: 1200px;
        margin: auto;
        margin-top: 0.7%;
        padding-left: 1%;
        text-align: left;
    }
    .shipping-icon , .description-product, .descuento, .precio {
        font-size: 16px;
    }

    /* Footer */

    .footer-container {
        padding: 5%;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: space-between;
        justify-content: center;
        margin: 0;
    }


}

@media (min-width: 1000px) {
    
    .logo {
        width: 160px;
    }
    .search-input {
        font-size: 0.8em;
        height: 24px;
        width: 400px;
        color: rgb(41, 41, 41);
        background-color: rgba(0, 0, 0, 0.06);
        border: 0px;
        border-radius: 10px;
        
    }
    .main-header-top-bar , .main-navbar , .search-icon, .section-articulos, .main-banner  {
        max-width: 1200px;
        margin: auto;
    }

    .main-navbar a {    
        font-size: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .main-header {
        padding-bottom: 100px;
    }

    .section-articulos {
        max-width: 1200px;
    }
    
    .articulos {
        margin: auto;
        margin-top: 2%;
        margin-bottom: 2%;
        max-width: 21vw;

    }
 
    .shipping-icon , .description-product, .descuento, .precio {
        font-size: 0.85em;
    }
    
    .articulos img {
        margin-bottom: 11%;
    }
    .description-product {
        top: 0;
        border: none;
        width: 100%;
        height: 100%;
        text-align: left;
        opacity: 0;
    }
    .description-product:hover {
        opacity: 1;
        transition: 0.3s;
        
    }
    .texto {
        position: absolute;
        bottom: 4%;
    }
   

    
}