* {
    /* border: solid 1px black ; */
    box-sizing: border-box;
   }

body {
    margin: 0;
    color: #03264C;
    font-family: 'Roboto', sans-serif;
    background-color: #EAC926;
}

img{
    max-width: 100%;
    max-height: 100%;
}
/* Nav Style */
header {
    background-color: #EAC926 ;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.toggler {
    display: none;
}
.logo {
    display:flex;
    height: 130px;
    width: 300px;
    margin-left: 20px;
}
nav ul {
    position: fixed;
    width: 100%;
    height: 30hv;
    margin-top:100px;
    padding: 16px;
    background: #EAC926;
    top: -100%;
    transition:  all .5s;
    list-style: none;
}
nav li {
    margin-bottom: 16px;
    margin-left: 16px;
}
nav a {
    color: #03264C;
    text-decoration: none;
    font-weight: Medium 500;
    font-size: 24px;
    text-shadow: 2px 2px 4px rgba(31,31,31,0.658);
    text-transform: uppercase;
}
nav a:hover {
    color: #1259c3;
    transition: ease-in .1s;

}
.toggler:checked ~ nav ul {
    top: 0;
}
.burger {
    position: absolute;
    font-size: 30px;
    color: #ebebeb;
    text-shadow: 2px 2px 4px rgba(31,31,31,0.658);
    top: 0;
    right: 0;
    margin-right: 16px;
    height: 100%;
    display: flex;
    align-items: center;
}
main {
    margin-top: 145px;
}
/* Desketop */

@media screen and (min-width: 800px) {
    .burger {
        display: none;
    }
    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(700px, 3fr);
    }

    nav {
        display: fixed;
        grid-column: 3/4;
        justify-content: flex-end;
        align-items: center;
    }
    nav ul{
        all: unset;
        list-style: none;
        display: flex;
    }
    nav li{
        margin-bottom: 0;
        margin-right: 16px;

    }
}
