<nav id="main-nav">
    <a href="/">home</a>
    <a href="/product">market</a>
    <a href="/product/create">new</a>
    <a href="/user/login">login</a>
    <a href="/user/register">register</a>
</nav>